@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
#container{
	margin : auto;
	min-width : 980px;
	overflow : hidden;
	position : relative;
}
#top-bar {
	position: absolute;
	height: 32px;
	top: 0;
	right: 0;
	left: 0;
	background: #f0f0f0;
}
#header {
	height : 115px;
	margin-top : 32px;
}
#header1 {
	width : 980px;
	height : 115px;
	margin : auto;
}
#header-header {
	width: 980px;
	margin: 0 auto;
	font-size: 11px;
}
#header-header > span{
	margin : 0 10px 0 10px;
}
#header-header1 {
	font-size: 9pt;
	position: relative;
  	display: inline-block;
  	text-align:left;
  	float: left;
  	margin : auto;
  	width : 490px;
	height : 30px;
}
#header-header1 > li{
	padding-top: 8px;
	float : left;
	margin: 0 10px;
	list-style: none;
}
#header-header1 > li > a{
	text-decoration: none;
	color : black;
}
#header-header1 > li > ul {
	display: none;
	position: absolute;
	margin-top : 5px;
	left : 62px;
	list-style: none;;
  	z-index : 1;
  	font-weight: 400;
  	background-color: #f9f9f9;
  	width : 80px;
  	padding-left: 15px;
  	box-shadow : 0 4px 5px rgba(0,0,0,0.3);
}
#header-header1 > li:hover > ul{
	display: block;
}
#header-header1 > li > ul > li{
	padding : 5px;
}
#header-header1 > li > ul > li:hover{
	color : #4285f4;
	text-decoration: underline;
}
#header-header1 > li > ul > li > a{
	text-decoration: none;
	color : black;
}
#header-header1 > li > ul > li:hover > a{
	color : #4285f4;
	text-decoration: underline;
}
#header-header2 {
	text-align : right;
	flex : 1;
	font-size: 9pt;
	position: relative;
  	display: inline-block;
  	float: left;
  	width : 490px;
	height : 30px;
}
#header-header2  > li{
	padding-top: 8px;
	float : right;
	margin: 0 10px;
	list-style: none;
}
#header-header2 > li > a{
	text-decoration: none;
	color : black;
}
#header-header2 > li > ul {
	display: none;
	position: absolute;
	margin-top : 5px;
	left : 370px;
	list-style: none;;
  	z-index : 1;
  	font-weight: 400;
  	background-color: #f9f9f9;
  	width : 130px;
  	padding-left: 15px;
  	box-shadow : 0 4px 5px rgba(0,0,0,0.3);
  	text-align: left;
}
#header-header2 > li:hover > ul{
	display: block;
	z-index: 3;
}
#header-header2 > li > ul > li{
	padding : 5px;
}
#header-header2 > li > ul > li:hover{
	color : #4285f4;
	text-decoration: underline;
}
#header-header2 > li > ul > li > a{
	text-decoration: none;
	color : black;
}
#header-header2 > li > ul > li:hover > a{
	color : #4285f4;
	text-decoration: underline;
}
#cate-search {
	display : flex;
}
#category {
	width : 110px;
	height : 115px;
}
#category > ul > li{
	float : left;
	list-style: none;
}
#category > ul > li > a{
	text-decoration: none;
	color : black;
}
#category > ul > li > ul {
	display: none;
	position: relative;
	left : 0px;
	list-style: none;;
  	z-index : 1;
  	font-weight: 400;
  	background-color: #f9f9f9;
  	width : 150px;
  	box-shadow : 0 4px 5px rgba(0,0,0,0.3);
}
#category > ul> li:hover > ul{
	display: block;
}
#category > ul > li > ul > li{
	text-align : left;
	padding : 5px;
	margin-left : 10px;
}
#category > ul > li > ul > li:hover{
	color : #4285f4;
	text-decoration: underline;
}
#category > ul > li > ul > li > a{
	text-decoration: none;
	color : black;
}
#category > ul > li > ul > li:hover > a{
	color : #4285f4;
	text-decoration: underline;
}
#cate-image {
	width : 105px;
	height : 110px;
	overflow: hidden;
}
#bridge{
	
}
#logo-search {
	display : flex;
}
#logo{
	width : 220px;
	height : 77px;
}
#logoin{
	width: 174px;
	height: 48px;
	margin: 15px 40px;
	float: left;
	}
#search {
	display : flex;
	width : 530px;
	height: 77px;
}
#searchform{
	float : left;
	width: 500px;
	height: 37px;
	border: 2px solid #4285f4;
	margin: 10px 22px 10px 22px;
}
.sel-category{
	position: absolute;
    border: 0;
    width: 134px;
    height: 34px;
    border-right: 1px solid #ddd;
}
.sear-category{
	position: relative;
    border: 0;
    width: 280px;
    height: 34px;
    left: 137px;
}
/* .sel-category-button {
	background: url(//img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png)6px -165px no-repeat;
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	display: block;
	}
	 */
.sel-category-content {
	width: 133px;
    height: 33px;
    text-align: left;
    border: 1px white solid;
	outline: none;
	}
#headerSearchKeyword {
	width: 280px;
    left: 0px;
    color: #333;
    position: relative;
    height: 33px;
    margin: 0;
    border: 0;
    background: #fff;
    text-indent: 10px;
    line-height: 37px;
    font-size: 14px;
    outline: 0;
}
#headerMicBtn {
	float: left;
    position: relative;
    left: 275px;
    top: -32px;
}
#headerSearchBtn {
	float: left;
    position: relative;
    left: 280px;
    width: 40px;
    height: 40px;
    top: -33px;
}
#mymenu {
	width : 140px;
}
#mymenu > ul {
	margin-bottom: 0;
}
#mymenu > ul > li{
	padding-top: 8px;
	float : left;
	margin: 0 8px;
	list-style: none;
}
#mymenu > ul > li > a{
	text-decoration: none;
	color : black;
}
#mymenu > ul > li > #mymenu-ul1 {
	display: none;
	position: relative;
	margin-top : 5px;
	left : -30px;
	list-style: none;;
  	z-index : 3;
  	background-color: #f9f9f9;
  	width : 110px;
  	padding-left: 15px;
  	box-shadow : 0 4px 5px rgba(0,0,0,0.3);
  	text-align: left;
}
#mymenu > ul > li > #mymenu-ul2 {
	display: none;
	position: absolute;
	margin-top : 5px;
	left : -150px;
	list-style: none;;
  	z-index : 3;
  	background-color: #f9f9f9;
  	width : 300px;
  	height : 100px;
  	padding-left: 15px;
  	box-shadow : 0 4px 5px rgba(0,0,0,0.3);
  	text-align: left;
}
#mymenu > ul> li:hover > #mymenu-ul1{
	display: block;
}
#mymenu > ul> li:hover > #mymenu-ul2{
	display: block;
}
#mymenu > ul > li > #mymenu-ul1 > li{
	padding : 5px;
}
#mymenu > ul > li > #mymenu-ul2 > li{
	padding : 5px;
}

#mymenu > ul > li > #mymenu-ul1 > li:hover{
	color : #4285f4;
	text-decoration: underline;
}
#mymenu > ul > li > #mymenu-ul2 > li:hover{
	color : #4285f4;
	text-decoration: underline;
}

#mymenu > ul > li > #mymenu-ul1 > li > a{
	text-decoration: none;
	color : black;
}
#mymenu > ul > li > #mymenu-ul2 > li > a{
	text-decoration: none;
	color : black;
}
#mymenu > ul > li > #mymenu-ul1 > li:hover > a{
	color : #4285f4;
	text-decoration: underline;
}
#mymenu > ul > li > #mymenu-ul2 > li:hover > a{
	color : #4285f4;
	text-decoration: underline;
}
#menu {
	width : 860px;
	overflow: hidden;
}
#menu-btn1 {
	width : 20px;
	height : 20px;
	cursor: pointer;
    background-image: url(//img1a.coupangcdn.com/image/coupang/common/pc_gnb_arrow-right@2x.png);
    background-size: contain;
    display: inline-block;
    float: left;
    position: relative;
    left: 840px;
    top: 0px;
    background-color : white;
    border : 1px solid transparent;
    z-index : 1;
}
#menus {
	width : 1150px;
	height : 40px;
	transform: translateX(0px);
	transition: transform .6s ease-in-out;
}
#menu-btn2 {
	width : 20px;
	height: 20px;
	left: 0;
    background-image: url(//img1a.coupangcdn.com/image/coupang/common/pc_gnb_arrow-left-gray@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    background-color : white;
    border : 1px solid transparent;
    position : relative;
    top : -38px;
}
#menus > label > a {
	margin-left : 13px;
	text-decoration: none;
	color : black;
}
#menus > label > a:hover {
	color : #4285f4;
	text-decoration: underline;
}